body{
    background-color: #D6E4E5;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
  }
  li {
    float: left;
  }
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover{
    background-color: aliceblue;
    color: black;
  }
 a{
    text-decoration: none;
    color: black;
 }
 a:hover{
    color: rgb(24, 13, 179);
 }
    
  .logo{
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 40px;
    width: 75px;
    height: 50px;
  }
  .search{
    float: right;
    padding: 15px 10px;

  }
  .sec{
    background-color: #497174;
    width: 100%;
    height: 300px;
    padding-top: 0px;
    color: #ffffff;
  }
  .sec p{
    width: 10%;
    font-size:xx-large;
    position: absolute;
    left: 45%;
    top: 20%;
  }
  .imgsec{
    margin-top: 80px;
  }
  
  .image-list-small {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
    padding-left:200px;
  }
  
  .image-list-small li {
    display: inline-block;
    width: 25%;
    margin: 0 12px 30px;
  }
  
  
  /* Photo */
  
  .image-list-small li > a {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    margin: 0;
    padding: 0;
    border: 2px solid #ffffff;
    outline: 1px solid #000000;
    box-shadow: 0 2px 1px #DDD;
  }
  
  .image-list-small .details {
    margin-top: 13px;
  }
  
  
  /* Title */
  
  .image-list-small .details h3 {
    display: block;
    font-size: 12px;
    margin: 0 0 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .image-list-small .details h3 a {
    color: #303030;
    text-decoration: none;
  }
  
  .image-list-small .details .image-author {
    display: block;
    color: #717171;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }