body{
    background-color: #D6E4E5;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
  }
  li {
    float: left;
  }
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover{
    background-color: aliceblue;
    color: black;
  }
 a{
    text-decoration: none;
    color: black;
 }
 a:hover{
    color: rgb(24, 13, 179);
 }
    
  .logo{
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 40px;
    width: 75px;
    height: 50px;
  }
  .search{
    float: right;
    padding: 15px 10px;

  }
  .sec{
    background-color: #497174;
    width: 100%;
    height: 300px;
    padding-top: 0px;
    color: #ffffff;
  }
  .sec p{
    width: 15%;
    font-size:xx-large;
    position: absolute;
    left: 45%;
    top: 20%;
  }
.formsec{
  height: auto;
  width:30%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

.formsec input{
  width: 95%;
  padding: 10px;
  margin: 10px;
}
select {
  width: 95%;
  padding: 10px;
  margin: 10px;
}
textarea{
  width: 95%;
  padding: 10px;
  margin: 10px;
}
label{
  padding: 5%;
  text-align: start;
}

.formsec h3{
 text-align: center;
 margin-bottom: 0;

}
.formsec p{
  margin-top: 0;
  text-align: center;
  color: rgb(169, 164, 164);
}
.formsec button{
  margin-left: 15px;
  background-color: #497174;
  size: 50px;
  color: #ffffff;
}
.formsec button:hover{
background-color:#D6E4E5 ;
color: #333;
}
.formsec i{
  font-size: x-small;
  color: #EB6440;
}